<launch>

	<arg name="gripper_ip" default="192.168.2.110" />
	<arg name="gripper_port" default="1000" />
	<arg name="local_port" default="1501" />
	<arg name="joint_prefix" default="" />

	<arg name="goal_speed_topic" default="goal_speed" />
	<arg name="status_topic" default="status" />
	<arg name="homing_srv" default="homing" />

	<arg name="gripper_model" default="wsg50" />


	<arg name="measure_topic" default="grasp_force" />
	<arg name="measure_topic_type" default="Float64Stamped" />

	<arg name="force_command_topic" default="command_force" />
	<arg name="width_topic" default="width" />

	<arg name="force_control_set_running_service" default="force_control/set_running" />
	<arg name="force_control_start_running" default="false" />

	<arg name="control_gain" default="5.0" />
	<arg name="max_force" default="10.0" />

	<arg name="stiff_1" default="6.4346095511E+03"/>
	<arg name="stiff_2" default="4.8444986930E+06"/>
	<arg name="use_linear_model" default="false"/>

	<arg name="filter_control" default="false" />
	<arg name="cut_freq" default="250.0" />
	<arg name="rate" default="1000.0" />

	<!-- for status monitoring in [m] -->
	<arg name="width_min" default="0.020"/>
	<arg name="width_max" default="0.108"/>


	<include file="$(find sun_wsg50_driver)/launch/wsg50_tcp_script.launch">

		<arg name="gripper_ip" value="$(arg gripper_ip)" />
		<arg name="gripper_port" value="$(arg gripper_port)" />
		<arg name="local_port" value="$(arg local_port)" />

		<arg name="goal_speed_topic" value="$(arg goal_speed_topic)" />
		<arg name="status_topic" value="$(arg status_topic)" />
		<arg name="homing_srv" value="$(arg homing_srv)" />
		<arg name="width_topic" default="$(arg width_topic)" />

		<arg name="gripper_model" value="$(arg gripper_model)" />

		<arg name="joint_prefix" value="$(arg joint_prefix)" />
   
	</include>
	

	<node name="force_control"  pkg="sun_wsg50_control" type="force_control" output="screen">

		<param name="topic_measure" type="string" value="$(arg measure_topic)" />
		<param name="topic_measure_type" type="string" value="$(arg measure_topic_type)" />

		<param name="topic_force_command" type="string" value="$(arg force_command_topic)" />

		<param name="topic_goal_speed" type="string" value="$(arg goal_speed_topic)/raw" if="$(arg filter_control)"/>
		<param name="topic_goal_speed" type="string" value="$(arg goal_speed_topic)/unmonitored" unless="$(arg filter_control)"/>

		<param name="set_running_service" type="string" value="$(arg force_control_set_running_service)"/>

		<param name="start_running" type="bool" value="$(arg force_control_start_running)"/>

		<param name="control_gain" value="$(arg control_gain)"/>

		<param name="max_force" value="$(arg max_force)"/>

		<param name="stiff_1" value="$(arg stiff_1)"/>
		<param name="stiff_2" value="$(arg stiff_2)"/>
		<param name="use_linear_model" value="$(arg use_linear_model)"/>

	</node>


	<node name="filter_control" pkg="sun_ros_utils_nodes" type="filter_float64_stamped" if="$(arg filter_control)" output="screen">

		<param name="in_topic" type="string" value="$(arg goal_speed_topic)/raw" />

		<param name="out_topic" type="string" value="$(arg goal_speed_topic)/unmonitored"/>

		<param name="cut_freq" value="$(arg cut_freq)"/>

		<param name="rate" value="$(arg rate)"/>

	</node>

	<node name="status_monitoring" pkg="sun_wsg50_control" type="status_monitoring" output="screen">

		<param name="width_min" value="$(arg width_min)"/>
		<param name="width_max" value="$(arg width_max)"/>

		<param name="topic_goal_speed_in" type="string" value="$(arg goal_speed_topic)/unmonitored" />
		<param name="topic_goal_speed_out" type="string" value="$(arg goal_speed_topic)"/>
		<param name="topic_width" type="string" value="$(arg width_topic)"/>

	</node>

</launch>
